


.card-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 7px;
  margin-left: 7px;
  width: calc(100% - 10px); /* Adjust the percentage as needed */
  margin-bottom: 1.5em;
  box-shadow: 3px 3px 5px #bde7bd;
  transition: transform 0.2s ease-in-out;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left; /* Center-align the content horizontally */
  background: #ffffff;
  max-width: 100%;
}

/* Add any additional styling you prefer */
.card-container .cardHeading {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color:#800020;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.card-container p {
  font-size: medium;
  color: forestgreen;
  text-align: justify;
  margin: 1%;
  padding-top: 0px;
  padding-bottom: 5px;
  border: 0px;
  margin-top: 0px;
}

.card-container div span {

  color: forestgreen;
  margin: 0px;
  border: 0px;
}

.card-container div span span {

  color: forestgreen;
  margin: 0px;
  border: 0px;
  
}

s{
  color: #800020;
  font-size: medium;
  font-weight: 600;
}

/* .card-container .cardHeading:hover {
  color: #996515;
} */

.images-wrapper img {
  transition: transform 2s ease; /* Add a transition for smooth animation */
}

.images-wrapper img:hover {
  transform: scale(1.5); /* Scale the image to 110% on hover */
}

/* Add this CSS to your existing styles */
.card-container .d-flex {
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.card-container p {
  font-size: medium; /* Adjust font size as needed */
}

.image-container {
  display: flex;
  scroll-snap-type: x mandatory;
  position: relative;
  /* border-radius: 5px;
  border: 2px solid lightgray; */
  overflow: hidden; /* Hide the scrollbar */
  white-space: nowrap; /* Prevent wrapping */
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px ;
  
}

.image-container image{
   display: inline-block; /* Display images in a line */
  /* margin-right: 10px;  */
}

.image-item {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
}

.image-item img {
  max-width: 100%;
  max-height: 100%; /* Set the maximum height to 100% of the container */
  height: auto;
}

.scroll-buttons-container {
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  right: 5px;
  top:10px;
  width: 45px; /* Adjust the width as needed */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1; /* Ensure the buttons appear above the image */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-container:hover .scroll-buttons-container {
  opacity: 1; /* Show on hover */
}

.scroll-button {
  background-color: forestgreen;
  border: 1.5px solid #ddd;
  border-radius: 15%;
  font-size: xx-small;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ddd;
}



.scroll-button:hover {
  background-color: darkgreen;
}

/* Add modern styles for labels */
.card-container label {
  font-size: medium;
  font-weight: 500;
  color: forestgreen;
  margin-bottom: 5px;
  justify-content: center;
  /* margin-right: 5px; */
}

/* Add modern styles for brandDropdown */
.card-container select {
  font-size: medium;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid lightgray;
  color: #800020;
  transition: border-color 0.3s ease;
 
  

}

.card-container select option {
  font-size: 12px;
  font-weight: 600;
  
}

.card-container select:hover,
.card-container select:focus {
  border-color: forestgreen; /* Highlight border color on hover/focus */
  /* Remove default outline */
  transform: translateY(-1px);
  color: forestgreen;
}


.discount-ribbon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: forestgreen; /* A shade of orange, adjust as needed */
   /* Text color */
  border-radius: 4px;
  z-index: 2; /* Ensure the ribbon appears above the image */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 35%;
  justify-content: center;
 
  
}
.discount-ribbon p{
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
body {
  background-color:  #f5fff5;/* Light green color, adjust as needed */
}


.quantity-wrap {
  background-color: forestgreen;
  display: inline-flex; /* Ensure elements are displayed in one line */
  align-items: center; /* Align items vertically */
  color: white;
  font-size: medium;
  font-weight: 600;
  padding: 0 5px; 
  width:100%;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px ;
}

.quantity-button {
  background-color: forestgreen;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.cart-button {
  background-color: forestgreen;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  /* margin-left: auto; Push the cart button to the right */
}


.cart-button:hover {
  background-color: darkgreen;
}

.quantity-button:hover {
  background-color: darkgreen;
}
.cart-button i {
  font-size: 1.5rem; /* Adjust the size of the icon */
  margin-right: 5px; /* Add margin between the icon and the button edge */
  display: none; /* Hide the icon by default */
}

.cart-button:hover i {
  display: inline-block; /* Display the icon on hover */
}


.cart-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45%; /* Adjust as needed */
  max-width: 50%; /* Adjust as needed */
  background-color: white;
  overflow-y: auto; /* Enable vertical scrolling */
  transition: transform 1.5s ease-in-out; /* Animation duration */
  transform: translateX(100%); /* Initially off-screen to the right */
  z-index: 99;
}
.cart-screen::-webkit-scrollbar {
  display: none;
}
.cart-screen.show {
  transform: translateX(0); /* Slide in from the right */
}

